security:
  password_hashers:
    App\Entity\User: 'auto'

  providers:
    app_user_provider:
      entity:
        class: App\Entity\User
        property: email

  firewalls:
    dev:
      pattern: ^/(_(profiler|wdt)|css|images|js)/
      security: false

    # login:
    #   pattern: ^/login
    #   stateless: true
    #   json_login:
    #     check_path: /login
    #     username_path: email
    #     password_path: password
    #     success_handler: lexik_jwt_authentication.handler.authentication_success
    #     failure_handler: lexik_jwt_authentication.handler.authentication_failure

    main:
      stateless: true
      jwt: ~
      provider: app_user_provider

  access_control:
    - { path: ^/login, roles: PUBLIC_ACCESS }
    - { path: ^/register, roles: PUBLIC_ACCESS }
    - { path: ^/api/v1/posts$, roles: PUBLIC_ACCESS, methods: [GET] }
    - { path: ^/api/v1/posts/\d+$, roles: PUBLIC_ACCESS, methods: [GET] }
    - { path: ^/api, roles: IS_AUTHENTICATED_FULLY }
