<div class="post-listings-container">
  @if (isLoading()) {
    <div class="loading">
      <p>Loading posts...</p>
      <div class="spinner"></div>
    </div>
  } @else {
    @if (posts().length === 0) {
      <div class="no-posts">
        <p>No posts available</p>
      </div>
    } @else {
      <div class="posts-list row">
        @for (post of posts(); track post.id) {
          <div class="col-12 col-md-6 col-lg-4">
            <app-post-card 
              [post]="post" 
              (editPost)="onEditPost($event)"
              (deletePost)="onDeletePost($event)">
            </app-post-card>
          </div>
        }
      </div>
    }
  }

  <!-- Modal de edición -->
  @if (selectedPostToEdit()) {
    <div class="modal-backdrop" (click)="onPostEditingClosed()"></div>
    <div class="modal" [class.ng-animate]="selectedPostToEdit()" [class.is-updating]="isUpdatingPost()">
      <app-post-edit-modal 
        [post]="selectedPostToEdit()!" 
        (close)="onPostEditingClosed($event)">
      </app-post-edit-modal>
    </div>
  }
</div>
