/* FOOTER */
.footer {
  background-color: #1a1a2e;
  color: white;
  text-align: center;
  padding: .5rem;
  margin-top: auto;
  box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.1);
}

.footer p {
  font-size: 0.9rem;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .footer p {
    font-size: 0.8rem;
  }
}
